* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* https://www.dafont.com/domigorgon.font */
@font-face {
	font-family: 'Domigorgon';
	src: url('domigorgon-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background: #fffd88;
	color: #000;
	cursor: default;
	font-family: Domigorgon, sans-serif;
	font-size: 1em;
	text-align: left;
	user-select: none;
}

a {
	color: rgb(182, 154, 255);
}

:focus {
	outline: 1px solid rgb(182, 154, 255);
}

input[type='color'] {
	cursor: pointer;
}

html,
body {
	height: 100%;
}

#misc {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11;
	padding: 8px 8px 0 0;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

canvas.fullscreen {
	cursor: crosshair;
	display: block;
}

.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.big-image {
	display: block;
	object-fit: contain;
}
