* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* https://www.dafont.com/domigorgon.font */
@font-face {
	font-family: 'Domigorgon';
	src: url('domigorgon-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background: #fffd88;
	color: #000;
	cursor: default;
	text-align: left;
	user-select: none;

	/* disable drag-to-refresh on mobile */
	overscroll-behavior: none; /* Chrome */
	touch-action: none; /* Safari */

	accent-color: rgb(182, 154, 255);
}

body,
button {
	font-family: Domigorgon, sans-serif;
	font-size: 1em;
}

a {
	color: rgb(182, 154, 255);
}

:focus {
	outline: 1px solid rgb(182, 154, 255);
}

button,
input[type='color'],
input[type='range'] {
	cursor: pointer;
}

button {
	border: 1px solid #999;

	background: #eee;
	color: #000;
	font-size: 1em;
	padding: 2px 8px;
}

button:hover,
button:focus {
	border-color: #333;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.2;
}

html,
body {
	height: 100%;
}

/* Links */
#links {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 11;

	background: rgb(255, 253, 136, 0.8);
	display: flex;

	padding: 8px;
	padding-right: calc(env(safe-area-inset-right) + 8px);
	padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
}

@media screen and (min-width: 600px) {
	#links {
		top: 0;
		bottom: auto;

		padding-bottom: 8px;
		padding-top: calc(env(safe-area-inset-top) + 8px);
	}
}

.websiteLink {
	opacity: 0.6;
	margin-left: 8px;
}

.websiteLink:hover,
.websiteLink:active,
.websiteLink:focus {
	opacity: 1;
}

.discordIcon,
.githubIcon {
	width: 20px;
	height: 20px;
	display: block;
	fill: #171515;
}

.websiteLink:hover .discordIcon,
.websiteLink:active .discordIcon,
.websiteLink:focus .discordIcon {
	fill: #5865f2;
}

/* App specific */
.fullscreen {
	width: 100%;
	height: 100%;
}

canvas.fullscreen {
	cursor: crosshair;
	display: block;
}

.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.big-image {
	display: block;
	object-fit: contain;
}
